

.t{
    width: 100%;
    cursor:pointer;
}

.video-title{
    margin-top:0px;
    font-size: 14px;
    font-weight:bold;
    line-height:20px;
    margin-bottom:10px;
    cursor:pointer;
}

.video-info-grid{
    display:grid;
    grid-template-columns: 50px 1fr;
}
.channel-picture{
   
    cursor:pointer;
}

.profile-picture{
    width:30px;
    border-radius:50px;
}
.thumbnail-row{
    margin-bottom:8px;
    position:relative;
}
.video-author,.video-stats{
    font-size:12px;
    color: rgb(96,96,96);
}
.video-author{
    cursor:pointer;
}
.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 20px;
    background-color: rgb(240, 240, 240);
}
.video-time{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    padding:4px 4px 4px 4px;
    border-radius: 2px;
    background-color:black;
    color:white;
    position:absolute;
    bottom:8px;
    right:5px;
}